body {
    background-size: cover;
}
.heading {
    width: 100%;
    margin: 0px;
    font-size: 23px;
}
.note {
    font-size: 15px;
    color: black;
}
.despacito {
    font-size: xx-large;
}